<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="assets/images/mylogo.png" style="height: 40px;" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav nav-pill">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/welcome']" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/products']" routerLinkActive="active">Product List</a>
        </li>
      </ul>
    </div>
  </nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
